body {
    background-color: antiquewhite;
}

#main {
    width: 800px;
    position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}

#producer-profile {
    margin-bottom: 20px;
}

#producer-name {
    font-size: 30px;
}

#produce-idols, #meshi-gallery, #produce-records, #contacts {
    text-align: center;
}

.foreign-lang-reminder {
    font-size: 15px;
}

.pIdol {
    height: 60px;
    width:  200px;
    margin: 5px;
    display: inline-block;
}

.pProduceRecord, .pInGameProduceRecord, .pMeshi {
    position: relative;
    height: 225px;
    width:  300px;
    margin: 10px;
    display: inline-block;
}

.content {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width:  100%;
    margin: 0px;
}

.pInGameProduceRecord>#badge {

}